$fab-color: $primary-color;
$fab-size: 50px;
$link-color: #1976d2;

.card {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: top;
  width: 31.33333%;
  position: relative;
  overflow: hidden;
  margin: 0 2% 2% 0;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;

  &__image {
    position: relative;
    background: #fff;
    height: 200px;
    padding-top: 56.25%;
    width: 100%;

    img {
      border-radius: 2px 2px 0 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
    width: 100%;
  }

  &__vendor {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    img {
      max-width: 35px;
      max-height: 35px;
    }
    svg {
      width: 35px;
      height: 35px;
    }
  }

  &__title {
    color: #3f3f3f;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0 0 10px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
    display: block;
    overflow: auto;
    width: 100%;
  }

  &__action {
    padding: 20px;
    width: 100%;
    align-self: flex-end;
  }

  &__button {
    width: 100%;
    background-color: $primary-color;
    padding: 6px;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 3px;
  }

  &__detail {
    position: absolute;
    transform: translateY(0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.25s ease-out;
    z-index: 2;

    &.hidden {
      transform: translateY(100%);
      transition: 0.25s ease-in;
      display: block !important; // sigh
    }

    ul {
      padding: 0;
      list-style: none;
      margin-top: 10px;

      li:first-letter {
        text-transform: capitalize;
      }
    }
  }

  &__meta {
    display: flex;
    width: 100%;

    svg {
      max-width: 30px;
      margin-right: 5px;
    }

    span {
      position: relative;
      font-size: 1.8rem;
      top: -9px;
      font-weight: 700;
      color: $primary-color;
    }

    div {
      flex-basis: 33%;
      text-align: center;
    }

    p {
      line-height: 0.5;
      margin-bottom: 20px;
    }
  }

  &__change-recipe {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: 100px solid $secondary-color;
    border-left: 100px solid transparent;
    cursor: pointer;

    span {
      position: absolute;
      top: -95px;
      right: 10px;
      color: #fff;
    }
  }

  .fab {
    position: absolute;
    // top: 227px;
    // bottom: -5px;
    bottom: -25px;
    right: 10px;
    height: $fab-size;
    width: $fab-size;
    padding: 1rem;
    border-radius: $fab-size/2;
    background-color: $fab-color;
    color: white;
    border: 0;
    font-size: 2.5em;
    line-height: 10px;
    outline: none;

    &:active {
      animation: squish 0.75s ease;
    }
  }

  p {
    margin: 0;
  }

  a {
    color: $link-color;
    margin-right: 20px;
    transition: color 0.3s ease;
    text-decoration: none;
  }
}

@keyframes squish {
  0%,
  30%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.975);
  }
  40% {
    transform: scale(1.025);
  }
  60% {
    transform: scale(0.985);
  }
  80% {
    transform: scale(1.01);
  }
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
