.ingredient__list {
  width: 31.33333%;
  padding: 2%;

  &-container {
    display: flex;
  }

  h3 {
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 768px) {
    width: 50%;
  }
}
