.homepage-products {
  width: 100%;

  &__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-height: 550px;
    overflow-y: scroll;
    // justify-content: space-between;
  }

  &__item {
    max-width: 32.2%;
    flex-basis: 32.2%;
    outline: 1px solid #ccc;
    min-height: 88px;
    overflow: hidden;
    margin: 5px;
    display: flex;

    img {
      max-height: 100px;
    }

    &.hidden {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  &__description {
    width: 100%;
    color: #222;
    font-size: 1.2rem;
    text-align: left;
    padding: 10px;
  }

  .card {
    flex: 0 1 31.33333%;
    margin-right: 3%;

    &.hidden {
      // display: flex !important;
      // opacity: 0.2;
      // visibility: visible !important;
    }

    @media screen and (min-width: 960px) {
      &:nth-of-type(3n + 3) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 570px) and (max-width: 960px) {
      &:nth-of-type(2n + 2) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 570px) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .homepage-products .card {
    max-width: 100%;
  }
}

// .material-tabs {
//   position: relative;
//   display: block;
//   padding: 0;
//   border-bottom: 1px solid #e0e0e0;
// }

// .material-container {
//   position: relative;
//   max-width: 600px;

//   & > a {
//     position: relative;
//     display: inline-block;
//     text-decoration: none;
//     padding: 10px;
//     text-transform: uppercase;
//     font-size: 14px;
//     font-weight: 600;
//     color: #424f5a;
//     text-align: center;
//     outline: 0;
//     width: 25%;
//   }
// }

// .material-tabs > a.active {
//   font-weight: 700;
//   outline: none;
// }

// .material-tabs > a:not(.active):hover {
//   background-color: inherit;
//   color: #7c848a;
// }

// @media only screen and (max-width: 520px) {
//   .nav-tabs#material-tabs > li > a {
//     font-size: 11px;
//   }
// }

// .indicator-bar {
//   position: absolute;
//   z-index: 10;
//   bottom: 0;
//   height: 3px;
//   background: $primary-color;
//   display: block;
//   left: 0;
//   transition: left 0.2s ease;
//   -webkit-transition: left 0.2s ease;
// }

// #tab1-tab.active ~ span.indicator-bar {
//   left: 0;
//   width: 25%;
// }

// #tab2-tab.active ~ span.indicator-bar {
//   left: calc(25% + 5px);
//   width: 25%;
// }

// #tab3-tab.active ~ span.indicator-bar {
//   left: calc(50% + 5px);
//   width: 25%;
// }

// #tab4-tab.active ~ span.indicator-bar {
//   left: calc(75% + 5px);
//   width: 25%;
// }

//
// Internal variables
//
$step-text-color: #333;
$step-text-color-disabled: #999;

$step-background-color: #efefef;
$step-background-color-active: #fff;

$step-counter-color: #bcbcbc;
$step-counter-color-active: $primary-color;

$step-baseline: 0.5em;
$step-border: 1px solid #ccc;

$step-breakpoint: 767px;

/**
 * Ordered list wrapper
 * 1. Prevents ugly shapes when selecting .steps
 * 2. Initializing counter
 */
/*ol*/
.steps {
  user-select: none; /* 1 */
  counter-reset: steps; /* 2 */
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0 0 $step-baseline * 2 0;
}

/**
 * Steps
 * 1. Incrementing counter
 */
/*li*/
.steps__item {
  counter-increment: steps; /* 1 */
  background: $step-background-color;
  border-top: $step-border;
  border-bottom: $step-border;
  float: left;
  position: relative;
  white-space: nowrap;

  /**
   * Defining step width depending on the number of steps
   */
  @for $i from 1 through 7 {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ & {
      width: (100% / $i);
    }
  }

  /**
   * Arrow shapes
   */
  &:after {
    $sqrt-2: if(function-exists('sqrt') == true, sqrt(2), 1.4142135623730951);
    $step-height: ($step-baseline * 3) + ($step-baseline * 2) + (1/16 * 1em * 2);
    $step-arrow-size: $step-height * $sqrt-2 / 2;
    width: $step-arrow-size;
    height: $step-arrow-size;
    position: absolute;
    top: 1 / $sqrt-2 / 2 * 1em;
    left: 100%;
    transform: rotate(45deg);
    content: '';
    z-index: 2;
    background: inherit;
    border-right: $step-border;
    border-top: $step-border;
    margin-left: -$step-arrow-size / 2;
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }

  /**
   * Small width stuff kids
   */
  @media (max-width: $step-breakpoint) {
    width: 100% !important;
    border: $step-border;
    border-bottom: none;
    padding: ($step-baseline * 2) 0;

    &:after {
      content: none;
    }
  }
}

/**
 * Left border on first item
 */
.steps__item--first {
  border-left: $step-border;
}

/**
 * Right border on last item
 */
.steps__item--last {
  border-right: $step-border;

  @media (max-width: $step-breakpoint) {
    border-bottom: $step-border;
  }

  /**
   * No left arrow on first item
   * No right arrow on last item
   */
  &:after {
    content: none;
  }
}

/**
 * Step link
 */
/*a|span*/
.steps__link {
  transition: 0.25s ease-out;
  color: $step-text-color-disabled;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: $step-baseline 0;
  position: relative;
  z-index: 3;
  /**
   * Counter
   */
  &:before {
    width: $step-baseline * 3;
    height: $step-baseline * 3;
    display: inline-block;
    content: counter(steps);
    text-align: center;
    background: $step-counter-color;
    border-radius: 50%;
    color: white;
    margin: 0 $step-baseline * 2;
    line-height: $step-baseline * 3;
  }

  /**
   * Hover stuff
   */
  :not([disabled]) > &:hover,
  :not([disabled]) > &:focus {
    color: $step-text-color;
  }

  @media (max-width: $step-breakpoint) {
    &:before {
      float: left;
      margin-right: 0;
    }
  }
}

/**
 * Active state
 */
/*a*/
.steps__item--active {
  background: $step-background-color-active;
}

/**
 * Change link colors
 */
.steps__item--active {
  .steps__link {
    color: $step-text-color;

    &:before {
      background: $step-counter-color-active;
    }
  }
}

.steps__item--done {
  .steps__link {
    &:before {
      background: $secondary-color;
      // content: '\e013';
      // font-family: 'Glyphicons Halflings';
    }
  }
}

@media screen and (max-width: 570px) {
  .homepage-products .card {
    flex: 0 0 100%;
    margin-right: 0;
  }
}

@media screen and (min-width: 570px) and (max-width: 960px) {
  .homepage-products .card {
    flex: 0 0 48%;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
